@import '../../scss/main.scss';

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: $primary-dark;
  color: $accent-light;
  font-size: 1.6rem;
  position: fixed;
  height: 7rem;

  &__logo {
    background-color: $accent-dark;
    color: $primary-dark;
    margin-left: 0.4rem;
    padding: 1rem;
  }

  .itemContainer {
    display: flex;
    align-items: center;
    margin-left: 4rem;

    @include mobile {
      display: none;
    }

    .icon {
      font-size: 1.8rem;
      margin-right: .5rem;
      color: $accent-dark;
    }

    span {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
