@import '../../scss/main.scss';

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: $primary-dark;
  color: $accent-light;
  font-size: 1.6rem;
  position: fixed;
  height: 7rem;

  &__logo {
    margin-right: auto;
    background-color: $accent-dark;
    color: $primary-dark;
    margin-left: .4rem;
    padding: .5rem;
  }
}