@import '../../scss/main.scss';

.navbar {
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: $primary-dark;
  color: $accent-light;
  height: 8vh;
  font-size: 1.6rem;
  // border-bottom: .15rem solid $primary-light;

  &__logo {
    margin-right: auto;
    background-color: $accent-dark;
    color: $primary-dark;
    margin-left: .2rem;
    padding: .5rem;
  }

  &__item {
    margin: 0 2rem;
  }
}