@import '../../scss/main.scss';

.work {
  height: 100vh;
  background-color: $primary-dark;
  border-top: 0.15rem solid $primary-light;
  position: relative;

  &__header {
    color: $primary-dark;
    text-align: center;
    margin-top: 1rem;
    font-size: 5rem;
    font-weight: 500;
    background-color: $accent-dark;
    width: 20%;
    display: flex;
    justify-content: center;
    flex: wrap;
  }

  &__image {
    width: 25%;
    border-radius: 0.2rem;
    position: absolute;
    z-index: 5;
    transition: all 0.2s;
    outline-offset: 0.5rem;
    cursor: pointer;

    &--p1 {
      left: 40%;
      top: 4rem;
      z-index: 5;
    }

    &--p2 {
      left: 25%;
      top: 22rem;
      z-index: 10;
    }

    &--p3 {
      left: 52.5%;
      top: 22rem;
      z-index: 3;
    }

    &--p4 {
      left: 10%;
      top: 40rem;
      z-index: 20;
    }

    &--p5 {
      left: 40%;
      top: 40rem;
      z-index: 25;
    }

    &--p6 {
      left: 70%;
      top: 40rem;
      z-index: 30;
    }

    &:hover {
      outline: 0.5rem solid $accent-dark;
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 100;
    }
  }

  span {
    display: block;
  }
}

@include mobile {
  .work {

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }
  }
}
