@import '../../scss/main.scss';

.h1test {
  text-align: center;
  color: $accent-dark;
}

.h1test2 {
  color: $primary-dark;
  text-align: center;
  margin-top: 1rem;
  font-size: 5rem;
  font-weight: 500;
  background-color: $accent-dark;
  width: 20%;
  display: flex;
  justify-content: center;
  flex: wrap;
}

.work {
  height: 100vh;
  background-color: $primary-dark;
  border-top: 0.15rem solid $primary-light;
  position: relative;

  &__image {
    width: 25%;
    box-shadow: 0 1.5rem 4rem rgba($primary-medium, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 5;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      left: 10%;
      top: 25rem;
      z-index: 5;
    }

    &--p2 {
      left: 40%;
      top: 10rem;
      z-index: 10;
    }

    &--p3 {
      left: 25%;
      top: 40rem;
      z-index: 3;
    }

    &--p4 {
      left: 40%;
      top: 25rem;
      z-index: 20;
    }

    &--p5 {
      left: 60%;
      top: 20rem;
      z-index: 25;
    }

    &--p6 {
      left: 75%;
      top: 27rem;
      z-index: 30;
    }

    &:hover {
      outline: 1.5rem solid $accent-dark;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2rem 4rem rgba($primary-medium, .5);
      z-index: 100;
    }
  }

  &:hover &__image:not(:hover) {
    transform: scale(0.98);
  }
}
